<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9066/TheVoid" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Client.ServiceProxy.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>